@{
    ViewBag.Title = "About";
}
<h2>C Senorita.</h2>
<h3>Get To Know Us</h3>

<p>C Senorita is the fastest and easy way to access Cruise whenever you want to explore. We give our clients
    to choose how they want to cruise with the best offers and options on the table so they can enjoy their
    day/s at the way the want to. This platform is made for you to book while at home without walking a long
    way just to be on the Queue.</p>
<br />
<p>If you have questions <a href="~/Home/Contact" id="ContactLink">Contact us</a> we will make sure you get all your answers.</p>
