@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>C Senorita</h1>
    <p class="lead">
        Expedition Cruise Cuisine: SA'S Most Exquisite
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 360px;
        margin: auto;
        text-align: center;
        height: auto !important;
        margin-bottom: 20px !important;
        border: groove !important;
    }

        .card:hover {
            border-radius: 10px;
            border-color: aqua !important;
        }
    .card-img-top{
        width:350px !important;
        height:130px !important;
    }
    .secondary {
        padding-top: 50px !important;
    }
</style>


<div class="row mt-2">
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="imageCarousel" class="carousel slide" data-interval="2000"
                         data-ride="carousel" data-pause="hover" data-wrap="true">

                        <ol class="carousel-indicators">
                            <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#imageCarousel" data-slide-to="1"></li>
                            <li data-target="#imageCarousel" data-slide-to="2"></li>
                            <li data-target="#imageCarousel" data-slide-to="3"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://www.porthole.com/wp-content/uploads/2020/09/AmaWaterways--520x283.png" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p style="font-weight: bold; color:yellow;font-size:small">Senorita Cruise Experience</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://www.porthole.com/wp-content/uploads/2020/08/Aqua-Nera-Aqua-Expeditions-520x293.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p style="font-weight: bold; color:yellow;font-size:small">Senorita Cruise Experience</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://www.porthole.com/wp-content/uploads/2018/01/RCI_QuantumClass_1365714000_RCI-NorthStar-Exterior-5K-No-AntennaSMALLER-854x480.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p style="font-weight: bold; color:yellow;font-size:small">Senorita Cruise Experience</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://www.porthole.com/wp-content/uploads/2020/09/Bridgetown-Barbados--768x509.jpeg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p style="font-weight: bold; color:yellow;font-size:small">Senorita Cruise Experience</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src=" https://www.porthole.com/wp-content/uploads/2019/10/MasterShipRenderCREDITBlueWorldVoyages-550x251.jpeg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3></h3>
                                    <p style="font-weight: bold; color:yellow;font-size:small">Senorita Cruise Experience</p>
                                </div>
                            </div>
                           
                        </div>

                        <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                            <span class="glyphicon glyphicon-hand-left"></span>
                        </a>
                        <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                            <span class="glyphicon glyphicon-hand-right"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>

</div>


<div class="container secondary">
   
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://www.porthole.com/wp-content/uploads/2018/07/linval-ebanks-5829-unsplash-854x481.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title glyphicon-align-center"> <strong>Senorita Life Style</strong> </h4>
                    <p class="card-text">
                        Cruise ship crews are an interesting group of people from places all over the world.
                        They spend much of the year on board the ship going to the same ports and sailing the same itineraries.
                        Nobody knows a ship better than the crew, from the best times to be certain places to the best things to 
                        order at the restaurants, making friends with the crew and getting their sage advice is the best advice we have for first time cruisers or veterans on board a new ship for the first time.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://www.porthole.com/wp-content/uploads/2018/02/022018techblog-550x411.png" alt="">
                <div class="card-body">
                    <h4 class="card-title glyphicon-align-center">
                        <strong>
                            Luxury Travel Tech For Everyone
                        </strong>
                    </h4>
                    <p class="card-text">
                        What technology must you have while traveling? Savvy travelers usually pack a portable power bank,
                        universal (all-in-one) plug adapter, smartphone camera lens, noise-canceling headphones, laptop,
                        portable speakers, and a selfie stick. These devices have been available for a while, and you probably
                        own most of them.
                      
                    </p>
                    <p class="card-text">
                        Now, modern technology has reinvented the way you travel with the following simple-to-use, luxurious
                        gadgets that you won’t want to vacation without:
                    </p>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                 
                <img class="card-img-top" src="https://www.porthole.com/wp-content/uploads/2020/04/ISS_9880_04002-550x367.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title glyphicon-align-center"> <strong>
                     CRUISE RECIPE:  Holland America’s Bread & Butter Pudding
                   </strong> </h4>
                    <h6>Hungry to Sail Again</h6>
                    <p class="card-text">
                        Culinarily speaking, there are a few cruise favorites that, over the years, have become classics: 
                        Norwegian’s baked potato soup, Carnival’s Melting Chocolate Cake, Princess Cruises’ fettuccine Alfredo, 
                        Crystal’s mushroom soup in a bread bowl among them. But, for me, nothing says cruising more than 
                        Holland America’s bread and butter pudding, a rich and custardy concoction that has been a Holland 
                        America dessert staple for decades.
                        <br />
                        If you’re looking for comfort food during these challenging days, wrap yourself in the warmth of
                        Holland America’s Bread & Butter pudding—a moist and dense treat that just might take you back to 
                        the pleasures of days gone by…and, certainly, to your last Holland America sailing!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<p>You don't have an account? <a href="~/Account/Register" id="RegisterLink">Register Now!!!</a></p>
<p>You already registered? <a href="~/Account/Login" id="LoginLink">Login Now!!!</a></p>

